* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.btn,
.song-group,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
  font-size: 30px !important;
  margin: 0;
}
h3 {
  font-size: 20px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}
p {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.161);
}

.main {
  width: 100%;
  height: 100vh;
  background: url(https://cdn.pixabay.com/photo/2021/12/02/02/59/mountains-6839521_1280.jpg)
    no-repeat center / cover;
  position: relative;
  padding: 90px 264px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.music_block {
  width: 400px;
  height: 100%;
  background-color: #071b396e;
  border-radius: 10px;
  padding: 15px;
}

.music_block h2 {
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 15px;
  color: rgb(235, 145, 42);
}

.list_music {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  overflow: hidden auto;
}

.item_music {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.42);
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  border-radius: 5px;
  padding: 8px 20px 8px 10px;
  cursor: pointer;
}

.item_music img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 99px;
}

.item_content {
  flex: 1;
  color: #f6fafa;
}

.music_box {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: absolute;
  top: 55px;
  left: 918px;
}

.music_cd {
  position: relative;
  width: 189px;
  height: 189px;
  overflow: hidden;
}

.action {
  animation: follow 5s linear infinite;
}

.music_cd::after {
  content: "🎧";
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  background-color: white;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.music_cd-main {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  object-fit: cover;
}

.music_play {
  min-width: 430px;
  background-color: rgba(255, 255, 255, 0.333);
  border-radius: 25px;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.music_name {
  color: rgb(235, 145, 42);
  text-align: center;
}

#music_run {
  width: 100%;
}

.music_btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.music_btn i {
  cursor: pointer;
}
.music_btn-actions {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background-color: rgb(235, 145, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.music_btn-actions .show {
  display: block;
}

.btn-playing,
.btn-pausing {
  color: white;
  font-size: 20px;
  display: none;
}

.music_lyris {
  width: 900px;
  height: 600px;
  border-radius: 25px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.333);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.music_lyris h2 {
  color: rgb(235, 145, 42);
}

.music_lyris p {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  font-size: 20px;
}

.btn-load.active,
.btn-random.active {
  color: rgb(235, 145, 42);
  transform: scale(1.5);
}

@keyframes follow {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0);
  }
}

@media (max-width: 550px) {
  .music_lyris {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2021/12/02/02/59/mountains-6839521_1280.jpg)
      no-repeat left 50% / cover;
    color: white;
    border-radius: 0;
    text-shadow: 0 1px #000;
    text-align: center;
  }

  .music_lyris h2 {
    padding-bottom: 15px;
  }

  .music_lyris.show {
    display: block;
  }

  .main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 15px;
  }

  .music_box {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    top: 0;
    right: 0;
    position: relative;
    padding: 0;
  }

  .music_play {
    width: 100%;
    gap: 5px;
  }

  .music_name {
    padding-bottom: 5px;
  }

  .music_cd {
    width: 189px;
    height: 189px;
    overflow: hidden;
  }

  .music_block {
    width: 100%;
    height: 100vh;
  }
}
